{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<div class="col-12 mb-5 text-center">
		<a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Новый пост</a>
		<a class="btn btn-outline-primary" href="{% url 'blog:view_all' %}">просмотреть все посты</a>
	</div>
</div>
<div class="container overflow-hidden">
    <div class="row text-center gy-5">
        {% for object in object_list %}
            <div class="col-4">
                <div class="card mb-4 box-shadow h-100">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                    </div>
                    <div class="card-body">
                        <img src="{{ object.image | media_filter }}" class="img-fluid">
                        <p>{{ object.content }}</p>
		    </div>
		    <div class="card-footer">
				<div class="btn-group">
					<a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'blog:view' object.pk %}">view</a>
					<a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'blog:edit' object.pk %}">edit</a>
					<a type="button" class="btn btn-sm btn-outline-secondary text-danger" href="{% url 'blog:delete' object.pk %}">delete</a>
					<a type="button" class="btn btn-sm btn-outline-secondary">views: {{ object.views_count }}</a>
				</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}